<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.haykabelyan.shopping_calculator">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/myStile">
        <activity android:name="com.haykabelyan.shopping_calculator.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.haykabelyan.shopping_calculator.HelpActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity android:name="com.haykabelyan.shopping_calculator.ItemsActivity" />
        <activity android:name="com.haykabelyan.shopping_calculator.ShoppingActivity" />
        <activity android:name="com.haykabelyan.shopping_calculator.HistoryActivity" />
        <activity
            android:name="com.haykabelyan.shopping_calculator.AddActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name="com.haykabelyan.shopping_calculator.UpdateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity android:name="com.haykabelyan.shopping_calculator.Shopping2Activity" />
        <activity
            android:name="com.haykabelyan.shopping_calculator.PriceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name="com.haykabelyan.shopping_calculator.InfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Dialog"></activity>
    </application>

</manifest>